extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
  p.lead Don't Know what to play? Looking for other players review and recommendations? Then Welcome!
    .col-12

      .row
        each game in games
          .col-lg-4.col-md-4.col-sm-6.mb-4
            .card.h-100.p-2
              .card-block

                if game.poster
                  img(src=game.poster, alt=game.name, class='img-fluid mb-2') 
                h4
                  a(href="/game-info")= game.name

                each star in [...Array(game.rating)]
                  i.fa.fa-star

              p.address= game.developer
              
              .facilities
                each tag in game.tags
                  span.badge.badge-warning= tag
